#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* inician estilos de reproductor */

.container {
  text-align: center;
  padding: 20px;
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.video-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #222;
}

.video-frame {
  width: 560px;
  height: 315px;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input:focus {
  border-color: #4a90e2;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* finalizan estilos de reproductor */
